.slider h3,
.slider h5,
.client h3{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.parallax-container{
	height: 20%;
}

.parallax img{
	filter: grayscale(1);
	opacity: 0.5 !important;
}

.client img{
	max-width: 155px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section, footer {
	padding: 20px 0;
}
.card p{
	line-height: 30px;
	font-weight: bold;
}

.card h6{
	font-weight: bold;
}

.card-panel{
	padding-right: 45px !important;
	padding-left: 35px !important;
	border-radius:20px;
	padding-top: 30px !important;
	padding-bottom: 40px !important;
	cursor: pointer;
	transition: 1s;
}

.card-panel:hover {
	transform: scale(1.1);
}


.card-content p {
	font-weight: normal;
}

.tb{
	padding-left: 30px !important;
}

.tittle{
	margin-bottom: 50px;
}

.register{
	margin-top: 50px;
}

.btn-register{
	width: 100% !important;
	border-radius: 30px !important;
}

.formlogin{
	margin-top: 50px;
}

.remember{
	margin-left: 5px;
}

.btnlogin{
	width: 100% !important;
	border-radius: 30px !important;
}